.header {
  background: linear-gradient(to right, #63f976, #62dff2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-image img {
  height: 40px;
}

.icons img {
  height: 40px; /* Khớp với font-size của .nav span */
  margin-right: 50px;
  vertical-align: middle; /* Căn chỉnh ảnh với văn bản */
}
.nav a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-weight: 00;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  margin-right: 40px;
}

.nav span {
  font-size: 0.8em;
}

.nav-item {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -70px;
  padding: 10px 0;
  z-index: 100;
  min-width: 160px;
  transition: all 0.4s ease;
}

.dropdown a {
  display: block;
  margin-bottom: 5px;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  background-color: #139847;
}
.dropdown a:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.dropdown a:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.dropdown a:hover {
  background-color: #22e66df4;
  color: black;
}
.nav-item:hover .dropdown {
  display: block;
}
.dropdown-loai {
  left: -100px; /* Dịch sang trái tùy mức độ bạn muốn */
}
.actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}

.donate-btn {
  background-color: #83f66e;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.search-container {
  position: absolute;
  right: 110px; /* Cách icon một đoạn */
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.search-input {
  width: 250px;
  height: 40px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  display: none;
  transition: all 0.3s ease;
  background: white;
}

.actions.show-search .search-input {
  display: inline-block;
}

.footer {
  background: linear-gradient(to right, #a8e063, #56ccf2);
  color: #000;
  padding: 0px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.footer-image img {
  width: 150px;
  height: 150px;
  margin-top: 0px;
}

.footer-image p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Helvetica;
}

.footer-contact,
.footer-form,
.footer-social {
  max-width: 250px;
  margin-top: 10px;
  text-align: left;
}

.footer-contact {
  text-align: center;
  padding-left: 20px;
  position: relative;
  padding-top: 0px;
  padding-bottom: 20px;
}

.footer-contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;
  width: 5px;
  background-color: #139847;
  border-radius: 2px;
}

.footer-form {
  max-width: 250px;
  margin-top: 10px;
  text-align: left;
}

.footer-form h4 {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer-contact p {
  margin-bottom: 10px;
  margin-top: 20px;
}

.footer-form form {
  display: flex;
  flex-direction: column;
}

.footer-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d9d9d9;
  font-size: 14px;
}

.footer-form button {
  background-color: #2d9c4a;
  color: #ffffff;
  margin: 0 auto;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 130px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer-form button:hover {
  background-color: #218c3b;
}
.footer-form label {
  color: #139847;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  margin-top: 10px;
}
.footer-social .social-icons img {
  margin-top: 2px;
  font-size: 24px;
  margin-right: 20px;
}

.footer-social h4 {
  color: white;
}
.footer-social i {
  margin-right: 10px;
  cursor: pointer;
}

.footer-bottom {
  background-color: #000;
  color: #139847;
  padding: 5px;
  font-size: 14px;
}
