* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2e7d32; /* màu nền xanh lá */
  color: #ddd;               /* màu mũi tên */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  display: none; /* Ẩn mặc định */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #1b5e20;
}
